<% layout('layout/boilerplate')%>
<div>
    <h1>Products</h1>
    <ul>
        <% for(let product of products) {%>
        <li>
            <a href="/product/<%= product._id %>">
                <%= product.name %>
            </a>
        </li>
        <% } %>
    </ul>
</div>